.container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10vh;
    align-items: center;
}

.button{
    font-size: xx-large;
    background-color: aquamarine;
    color: black;
    border-radius: 5px;
    border-style: solid;
    border-color:cadetblue  ;
    border-width: 2px;
    height: 80px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}