/*
CSS 
web o pagina:
autor:
fecha:
RECORDAR:
en caso de conflictos se aplica el estilo que se define último,
o sea al final de este archivo o en la misma pagina html

Se incluyen los principales SELECTORES SIMPLES; hay más combinaciones...

*/

:root {
  --azulclaro: #e6f2ff; /* Azul al 10% */
  --fondooscuro: #4775d1;
  --fondomedio: #7094db;
  --fondoclaro: #99b3e6;
  --blanco: #ffffff;
}

* {
	 /* estilos por defecto para TODOS los elementos de la página; */
	/* estilo:valor; */
	font-family: 'Nunito', sans-serif;
	text-transform:none;
	box-sizing:border-box;
	margin:0px;
	padding:0px;
}

body {
	background-color: var(--blanco);
}

.ojo {
	width:40px;
	object-fit:include;
	background-color:transparent;
}

.proy {
	text-align:right;
}

.aparte {
	position: relative;
	font-size:1.5em;
	background-color: gainsboro;
    color: darkslateblue;
	border-radius:5px;
	border-style:none;
	padding:5px;
	margin-bottom:10px;
	text-decoration: none;
}

.bloque1 {
	width:33%;
	min-width:400px;
	display:inline-block;
	background-color:var(--fondoclaro);
	align-items: center;
	text-align:center;	
}

.bloque2 {
	width:33%;
	min-width:300px;
	display:inline-block;
	background-color:var(--fondomedio);
	align-items: center;
	text-align:center;	
}

.bloque3 {
	width:33%;
	min-width:300px;
	display:inline-block;
	background-color:var(--fondooscuro);
	align-items: center;
	text-align:center;	
}

h4 {
	text-align:center;
	padding:15px;
	margin:15px;
	border-radius:10px;
	border-style:none;
	background-color:pink;
	color:black;
}

iframe {
    margin-top: 10px;
}
